{% extends 'base.html' %}

{% block head %}
{% endblock %}
{% block logout %}
<li>
	<a href="/applicantlogout">
          <span class="glyphicon glyphicon-log-out"></span> <span style="color: red;">Logout</span>
    </a>
</li>
{% endblock %}
{% block nav%}
<li>
    <a href="/applicant/dashboard">Dashboard</a>
</li>
<li>
    <a href="/jobs">Find Jobs</a>
</li>
{% endblock %}
{% block container %}
<h1>Dashboard</h1>
<p>Applicant info</p>
<div class="line"></div>
<br>
<div class="row">
	<div class="col-sm-4">
		<a href="#"><img id="applicant-picture" src="{{ url_for('static',filename='img/user.svg') }}" style="max-width: 150px; max-height: 150px"></a>
	</div>
	<div class="col-sm-8">
		<p id="applicant-id"><b>ID </b>- {{ applicant.id }}</p>
		<p id="applicant-name"><b>Name </b>- {{ applicant.name }}</p>
		<p id="applicant-address"><b>Address </b>- {{ applicant.address }}</p>
		<p id="applicant-phone"><b>Phone Number </b>- {{ applicant.phone }}</p>
		<p id="applicant-gender"><b>Gender </b>- {{ applicant.gender }}</p>
		<p id="applicant-date-created"><b>Date Created </b>- {{ applicant.date_created }}</p>
	</div>
</div>
{% endblock %}
