{% extends 'base.html' %}

{% block head %}
{% endblock %}
{% block logout %}
<li>
	<a href="/applicantlogout">
		<span class="glyphicon glyphicon-log-out"></span> <span style="color: red;">Logout</span>
	</a>
</li>
{% endblock %}
{% block nav%}
<li>
	<a href="/applicant/dashboard">Dashboard</a>
</li>
{% endblock %}
{% block container %}
<h1>Dashboard</h1>
<p>Applicant info</p>
<div class="line"></div>
<br>
<div class="row">
	<div class="col-sm-4">
		<a href="#"><img id="applicant-picture" src="{{ url_for('static', filename='uploads/displaypictures/'+applicant.username+'.jpg') }}" onerror="this.src='/static/img/user.svg'" style="max-width: 150px; max-height: 150px"></a>
		</a>
	</div>
	<div class="col-sm-8">
		<p id="applicant-id"><b>ID </b>- {{ applicant.id }}</p>
		<p id="applicant-name"><b>Name </b>- {{ applicant.name }}</p>
		<p id="applicant-address"><b>Address </b>- {{ applicant.address }}</p>
		<p id="applicant-phone"><b>Phone Number </b>- {{ applicant.phone }}</p>
		<p id="applicant-gender"><b>Gender </b>- {{ applicant.gender }}</p>
		<p id="applicant-qualification"><b>Qualification </b>- {{ applicant.qualification }}</p>
		<p id="applicant-age"><b>Age </b>- {{ applicant.age }}</p>
		<p id="applicant-date-created"><b>Date Created </b>- {{ applicant.date_created }}</p>
		<button type="button" class="btn btn-info" value="Edit Profile"><a href="/applicant/edit/{{ applicant.id }}">Edit Profile</a></button>
	</div>
</div>
<div class="row">
	<h2>Applied Jobs</h2>
	{% if applications|length < 1 %}
	<p>You haven't applied for any jobs yet :(</p>
	{% else %}
	<br>
	<div id="ApplicantInfo" class="row alert alert-info text-info" role="info">You have applied for {{ applications|length }} jobs.</div>
	{% for application in applications %}
	<div class="row">
		<div class="col-sm-12">
			<div class="row">

				<h2>{{ jobs[(application.job_id)-1].post }}
					<button  class="btn btn-success" value="1" style="float: right;"><img src="{{ url_for('static',filename='img/timedelay.svg') }}" style="max-height: 16px; max-width: 16px;"> {{ application.status }}</button>
					{% if jobs[(application.job_id)-1].restart == 'No' %}	
					<button type="button" class="btn btn-dark" style="float: right; margin-right: 5px;">Exclusively for Women</button>
					{% else %}
					{% endif %}
				</h2>
			</div>
			<br>
			<div class="row">
				<div class="col-sm-3">
					<img src="{{ url_for('static',filename='img/organization.svg') }}" style="max-height: 16px; max-width: 16px;"> {{ jobs[(application.job_id)-1].organization }}
					<br>
					<p>Organization</p>
				</div>
				<div class="col-sm-3">
					<img src="{{ url_for('static',filename='img/location.svg') }}" style="max-height: 16px; max-width: 16px;"> {{ jobs[(application.job_id)-1].location }}
					<br>
					<p>Location</p>
				</div>
				<div class="col-sm-3" style="display: inline-block;">
					<img src="{{ url_for('static',filename='img/rupee-indian.svg') }}" style="max-height: 16px; max-width: 16px;"> {{ jobs[(application.job_id)-1].salary }}
					<br>
					<p>Salary</p>
				</div>
				<div class="col-sm-3">
					<img src="{{ url_for('static',filename='img/home.svg') }}" style="max-height: 16px; max-width: 16px;"> {{ jobs[(application.job_id)-1].wfh }}
					<br>
					<p>Work From Home?</p>
				</div>
			</div>
			<br>
			<div class="row">
				<p>{{ jobs[(application.job_id)-1].description }}</p>
			</div>
		</div>
	</div>
	{% endfor %}
	{% endif %}
</div>
{% endblock %}
