{% extends 'base.html' %}

{% block head %}
{% endblock %}
{% block logout %}
<li>
	<a href="/applicantlogin">
		<span class="glyphicon glyphicon-log-out"></span> <span style="color: blue;">Applicant Login</span>
	</a>
</li>
{% endblock %}
{% block container %}
<h1>Welcome to Job Finder! </h1>
<p>The Job Finder website was developed to help job seekers easily browse the best jobs, learn about employers, and get advice on applying for those jobs. Take a few minutes to browse through some of the employment opportunities available on the Job Finder website. We frequently update our website to provide you with the most current employment opportunities.</p>
<p>From entry level positions to top management positions, we have it covered. We list part-time and full-time jobs in a number of career fields. The Job Finder website is great for those individuals who are re-entering the workforce or those who want to work part-time after retirement. These individuals are finding unique opportunities through our listings. Working part-time does not mean that you are relegated to fast food restaurants or retail shops. While we can provide you with information about those types of jobs, we also have part-time administrative, clerical, and health care related jobs available.</p>
<div class="line"></div>
<p>Please go ahead and take a look around the website and find everything that you need. We encourage users to look around the various job oppurtunities that we have gathered to help ease the situation after the COVID-19 Pandemic.</p>
<div class="row">
	<div class="col-sm-6">
		<a href="/jobs"><button style="float: right;" class="btn btn-info center-block">Search Jobs</button></a>
	</div>
	<div class="col-sm-6">
		<a href="/admin"><button style="float: left;" class="btn btn-warning center-block">Administrator</button></a>
	</div>
</div>
<div class="line">
	<br>
	<br>
	<h2>Government Portal</h2>
	<div class="row">
		<div class="col-sm-8">
			Please refer to the following links to know about other government jobs.
			<br>
			<ul>
				<li>
					<a href="https://nrega.nic.in/netnrega/home.aspx">MGNREGA</a>
				</li>
				<li>
					<a href="https://www.ncs.gov.in/">National Career Service</a>
				</li>
				<li>
					<a href="https://niti.gov.in/">NITI Aayog</a>
				</li>
				<li>
					<a href="http://www.rrcb.gov.in/rrbs.html">Railway Recruitment Control Board</a>
				</li>
				<li>
					<a href="https://cpcb.nic.in/jobs.php">Central Pollution Control Board of India</a>
				</li>
				<li>
					<a href="https://www.spmcil.com/Interface/JobOpenings.aspx?menue=5">Security Printing & Minting Corporation of India</a>
				</li>
			</ul>
		</div>
		<div class="col-sm-4">
			<img class="img-responsive center-block" src="{{ url_for('static',filename='img/india.svg') }}" style="max-width: 250px; max-height: 250px;">
		</div>
	</div>
</div>
{% endblock%}

