{% extends 'base.html' %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock %}

{% block container %}
<h1>Infographics </h1>
<p>Job openings from the different categories represented as a histogram.</p>
<canvas id="myChart" width="200" height="200"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Cooks', 'Sales', 'Deliveryman', 'Drivers', 'Tailoring', 'Accounting', 'Construction', 'Mining', 'Attendant'],
        datasets: [{
            label: '# of Job Openings',
            data: [{{cooks}}, {{sales}}, {{deliveryman}}, {{drivers}}, {{tailoring}}, {{accounting}}, {{construction}}, {{mining}}, {{attendant}}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
    	legend: {
            display: true
        },
        responsive: true,
		maintainAspectRatio: false,
        title: {
            display: true,
            text: 'Job Openings'
        },
        scales: {
        	xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Categories'
                }
            }],
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    max: 20,
              	    min: 0,
                	stepSize: 2
                },
                scaleLabel: {
                    display: true,
                    labelString: 'Job Openings'
                }
            }]
        }
    }
});
</script>
{% endblock%}
