{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block container %}
<h1>Online Learning Courses </h1>
<p>As companies move to remote work to fight the coronavirus pandemic and an increasing number of workers are being laid off or furloughed, you might be wondering if you should continue to send out resumes or just assume that no one is hiring for the foreseeable future. It’s true that economists are predicting a recession, but career experts say it’s best to keep networking and applying, provided you change your approach a bit to acknowledge these are uncertain times.</p>
<div class="row">
	<h2>Boost Your Skills</h2>
	<p>We provide a vast selection of online courses and training through the following links.</p>
</div>
<div class="row">
	<h2>Beauty Courses</h2>
	<p>Find below all beauty courses that we have to offer.</p>
	<ul>
		<li>
			<a href="https://www.glowandlovelycareers.in/en/online-courses/filters?fields=beauty-and-wellnes">Glow & Lovely Care Foundation</a>
		</li>
		<li>
			<a href="https://alison.com/course/diploma-in-makeup-artistry">Diploma in MakeUp Artistry</a>
		</li>
		<li>
			<a href="https://www.lakme-academy.com">Lakmè Academy Beautician Course</a>
		</li>
	</ul>
</div>
<div class="row">
	<h2>Cooking Courses</h2>
	<p>Find below all cooking courses that we have to offer.</p>
	<ul>
		<li>
			<a href="https://www.cookwithrazia.com">Cook With Razia</a>
		</li>

		<li>
			<a href="https://www.udemy.com/course/essential-cooking-skills">Udemy Essential Cooking Skills</a>
		</li>

		<li>
			<a href="https://www.masterclass.com/?utm_source=Paid&utm_medium=Affiliate&utm_term=Aq">Masterclass Cooking</a>
		</li>
	</ul>
</div>
<div class="row">
	<h2>Hospitality Courses</h2>
	<p>Find below all hospitality courses that we have to offer.</p>
	<ul>
		<li>
			<a href="https://www.dypatilonline.com/hospital-and-healthcare-management.php">Certificate Programme in Hospital & Health Care Management</a>
		</li>

		<li>
			<a href="https://distance.nmims.edu/get-in-touch/?utm_source=google_SEM&utm_medium=cpc">NMIMS Distance Education</a>
		</li>
		
		<li>
			<a href="https://www.royaleinstitution.com/tag/Online-Hotel-Management-Course-India.html">Certificate in Food and Beverage</a>
		</li>
	</ul>
</div>
<div class="row">
	<h2>Tailoring Courses</h2>
	<p>Find below all tailoring courses that we have to offer.</p>
	<ul>
		<li>
			<a href="https://www.udemy.com/course/sewing-101-1">Sewing 101</a>
		</li>

		<li>
			<a href="https://www.udemy.com/course/sewing-patterns-101">Sewing Patterns 101: Learn to Read Sewing patterns</a>
		</li>
	</ul>
</div>
<div class="row">
	<h2>Fine Art Courses</h2>
	<p>Find below all fine art courses that we have to offer.</p>
	<ul>
		<li>
			<a href="https://www.courses.com/massachusetts-institute-of-technology/sensing-place-photogra">Sensing Place Photography as Inquiry</a>
		</li>

		<li>
			<a href="https://www.courses.com/university-of-oxford/the-elements-of-drawing">The elements of drawing</a>
		</li>
	</ul>
</div>
<div class="row">
	<h2>DIY Courses</h2>
	<p>Find below all DIY courses that we have to offer.</p>
	<ul>
		<li>
			<a href="https://www.skillshare.com/classes/Loose-Watercolor-Florals-Create-Beautiful-DIY-Name">Loose WaterColor Florals</a>
		</li>

		<li>
			<a href="https://www.skillshare.com/classes/Botanical-Line-Drawing/1406099508?via=browse-rati">Botanical Line Drawing</a>
		</li>
	</ul>
</div>
<div class="row">
	<h2>Content Writing Courses</h2>
	<p>Find below all content writing courses that we have to offer.</p>
	<ul>
		<li>
			<a href="https://www.coursera.org/specializations/creative-writing?ranMID=40328&ranEAID=vedj 0cWlu2Y&ranSiteID=vedj0cWlu2Y-5FcTXSqyYIWfeQMVxP2i8w&siteID=vedj0cWlu2Y-5 FcTXSqyYIWfeQMVxP2i8w&utm_content=10&utm_medium=partners&utm_source=link share&utm_campaign=vedj0cWlu2Y">Creative Writing Specialization</a>
		</li>

		<li>
			<a href="https://www.udemy.com/course/ninja-writing-the-four-levels-of-writing-mastery/?LSNPUB ID=vedj0cWlu2Y&ranEAID=vedj0cWlu2Y&ranMID=39197&ranSiteID=vedj0cWlu2Y-s.tsz UogxeKBzfVqHD32_A">Ninja Writing</a>
		</li>
		
		<li>
			<a href="https://www.udemy.com/course/writing-tools-hacks/?LSNPUBID=vedj0cWlu2Y&ranEAID =vedj0cWlu2Y&ranMID=39197&ranSiteID=vedj0cWlu2Y-5AgoZudN_iUyVaTzUbx5CA">Writing Tools & Hack</a>
		</li>
	</ul>
</div>
<!-- <p>We provide a vast selection of online courses through EdX</p>
<ul>
	<li><a href="https://www.edx.org/micromasters/hecmontrealx-ux-design-and-evaluation">UX Design and Evaluation</a></li>
	<li><a href="https://www.edx.org/micromasters/purduex-quantum-technology-computing">Quantum Technology Computing</a></li>
	<li><a href="https://www.edx.org/professional-certificate/ucx-statistical-analysis-in-r">Statistics Analysis in R</a></li>
	<li><a href="https://www.edx.org/course/cs50s-web-programming-with-python-and-javascript">Programming with Python and JS</a></li>
	<li><a href="https://www.edx.org/course/introduction-to-linux">Introduction to Linux</a></li>
	<li><a href="https://www.edx.org/professional-certificate/ibm-cloud-application-development-foundations">Cloud Application Development</a></li>
	<li><a href="https://www.edx.org/micromasters/purduex-quantum-technology-detectors-and-networking">Quantum Detectors and Networking</a></li>
</ul> -->
{% endblock%}
