{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block container %}
<h1>Online Learning Courses </h1>
<p>As companies move to remote work to fight the coronavirus pandemic and an increasing number of workers are being laid off or furloughed, you might be wondering if you should continue to send out resumes or just assume that no one is hiring for the foreseeable future. It’s true that economists are predicting a recession, but career experts say it’s best to keep networking and applying, provided you change your approach a bit to acknowledge these are uncertain times.</p>

<h2>Boost Your Skills</h2>
<p>We provide a vast selection of online courses through EdX</p>
<ul>
	<li><a href="https://www.edx.org/micromasters/hecmontrealx-ux-design-and-evaluation">UX Design and Evaluation</a></li>
	<li><a href="https://www.edx.org/micromasters/purduex-quantum-technology-computing">Quantum Technology Computing</a></li>
	<li><a href="https://www.edx.org/professional-certificate/ucx-statistical-analysis-in-r">Statistics Analysis in R</a></li>
	<li><a href="https://www.edx.org/course/cs50s-web-programming-with-python-and-javascript">Programming with Python and JS</a></li>
	<li><a href="https://www.edx.org/course/introduction-to-linux">Introduction to Linux</a></li>
	<li><a href="https://www.edx.org/professional-certificate/ibm-cloud-application-development-foundations">Cloud Application Development</a></li>
	<li><a href="https://www.edx.org/micromasters/purduex-quantum-technology-detectors-and-networking">Quantum Detectors and Networking</a></li>
</ul>
{% endblock%}
