{% extends 'base.html' %}

{% block head %}
{% endblock %}
{% block nav%}
<li>
	<a href="/applicant/dashboard">Dashboard</a>
</li>
<li>
	<a href="/jobs">Find Jobs</a>
</li>
{% endblock %}

{% block container %}
<h1>Find Jobs </h1>
<p>Displaying all jobs exclusively for women.</p>
<div class="line"></div>
{% if jobs|length < 1 %}
<p>No jobs currently available in this category :(</p>
{% else %}
{% for job in jobs %}
<div class="row">
	<div class="col-sm-12">
		<div class="row">
			
			<h2>{{ job.post }}
				<a href="/applicant/jobs/apply/{{job.id}}"><button  class="btn btn-success" value="1" style="float: right;">Apply!</button></a>
				{% if job.restart == 'Yes' %}	
				<button type="button" class="btn btn-dark" style="float: right; margin-right: 5px;">Exclusively for Women</button>
				{% else %}
				{% endif %}
			</h2>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-3">
				<img src="{{ url_for('static',filename='img/organization.svg') }}" style="max-height: 16px; max-width: 16px;"> {{ job.organization }}
				<br>
				<p>Organization</p>
			</div>
			<div class="col-sm-3">
				<img src="{{ url_for('static',filename='img/location.svg') }}" style="max-height: 16px; max-width: 16px;"> {{ job.location }}
				<br>
				<p>Location</p>
			</div>
			<div class="col-sm-3" style="display: inline-block;">
				<img src="{{ url_for('static',filename='img/rupee-indian.svg') }}" style="max-height: 16px; max-width: 16px;"> {{ job.salary }}
				<br>
				<p>Salary</p>
			</div>
			<div class="col-sm-3">
				<img src="{{ url_for('static',filename='img/home.svg') }}" style="max-height: 16px; max-width: 16px;"> {{ job.wfh }}
				<br>
				<p>Work From Home?</p>
			</div>
		</div>
		<br>
		<div class="row">
			<p>{{ job.description }}</p>
		</div>
	</div>
</div>
{% endfor %}
{% endif %}

<div class="line"></div>
<div class="row">
	<h2>News</h2>
	<p>Please find below all jobs from organizations that are exclusively made for women. </p>
	<ul>
		<li>
			<a href="https://governmentjobs.guru/staff-nurse-recruitment-vacancy/staff-nurse-vacancy-in-pune-hospitals/?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Columbia Asia Hospital Staff Nurse</a>
		</li>
		<li>
			<a href="https://apna.co/job/mumbai/beautician-140246?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Beautician Urban Company</a>
		</li>
		<li>
			<a href="https://www.freshers-job.com/2018/01/kolkata-civic-police-recruitment-2018-west-bengal.html?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic&m=1#point1">West Bengal Lady Constable</a>
		</li>
		<li>
			<a href="https://workex.jobs/job-details/6020cb92bd6780d9208bb4c9?utm_campaign=google_jobs_apply&utm_source=google_jobs_apply&utm_medium=organic">Cook/Chef City Club Kolkata</a>
		</li>
		<li>
			<a href="https://www.microsoft.com/en-in/about/empowering-women.aspx">Microsoft SpringBoard Program</a>
		</li>
		<li>
			<a href="https://m.timesjobs.com/mobile/job-detail/female-telecalling-executives-mobishastra-technologies-private-limited-delhi-0-to-1-yrs-jobid-m8Nx2CMANxhzpSvf__PLUS__uAgZw==-loc-198185-bc-INT">Mobishastra Female Telecalling Executive</a>
		</li>
	</ul>
</div>

<div class="row">
	<h2>Blog</h2>
	<p>To empower women and allow them to be independent we have procured certain articles to help women become financially independent. Please read further to understand our method of approach.</p>
	<ul>
		<li>
			<a href="https://www.microsoft.com/en-in/about/empowering-women.aspx">The Women Investor</a>
		</li>
		<li>
			<a href="https://blogs.lse.ac.uk/southasia/2019/10/22/where-are-indias-working-women-the-fall-and-fall-of-indias-female-labour-participation-rate/">Fall of India's Female Labour Force</a>
		</li>
		<li>
			<a href="https://www.businessalligators.com/how-housewives-can-earn-money-india/#:~:text=Freelance%20Writer,through%20freelance%20writing%20or%20blogging">Ways to earn money for Housewives</a>
		</li>
		<li>
			<a href="https://m.economictimes.com/wealth/invest/money-invested-in-gold-is-money-hoarded-heres-why/articleshow/79459852.cms">Gold Investment</a>
		</li>
		<li>
			<a href="https://projecthotmess.com/gain-independence-woman/">Gain Independence as women</a>
		</li>
	</li>
</ul>
</div>
{% endblock%}
